<header>
  {% if site.enable_darkmode %}
    <div class="toggle-container" style="position: fixed; top: 1rem; right: 1rem; z-index: 1030;">
      <button id="light-toggle" title="Change theme">
        <i class="fa-half-sun-moon" id="light-toggle-system"></i>
        <i class="fa-solid fa-moon" id="light-toggle-dark"></i>
        <i class="fa-solid fa-sun" id="light-toggle-light"></i>
      </button>
    </div>
  {% endif %}
</header>
